@import url(https://fonts.googleapis.com/css?family=Raleway);

.center {
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);  
  -o-transform: translateX(-50%) translateY(-50%);
}

body {
  font-family: 'Raleway';
  text-transform: lowercase;
}

h1 {
  position: absolute;
  font-size: 24px;
  left: 50%;
  top: 5%;
}

.scoreboard {
  position: absolute;
  font-size: 20px;
  left: 50%;
  top: 15%;
}

.board {
  position: absolute;
  height: 400px;
  width: 600px;
  left: 50%;
  top: 50%;
  border-style: solid;
  border-color: black;
  border-width: 10px;
  border-radius: 5%;
}